ENV=development
PREFIX=/v1
APP_URL="example.com"

TOKEN_DURATION=3600
REFRESH_TOKEN_DURATION=31536000 # equal to 365 days

DB_USER="root"
DB_PASSWORD="secret123"
DB_HOST="127.0.0.1"
DB_PORT="26257"
DB_SSLMODE="disable"
DB_DATABASE="postgres"

REDIS_HOST="localhost:6379"
REDIS_PASSWORD="secret123"

MINIO_ENDPOINT="play.min.io"
MINIO_ACCESS_KEY="Q3AM3UQ867SPQQA43P2F"
MINIO_SECRET="zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG"
MINIO_EXPIRE="86400s"
MINIO_REGION="us-east-1"

MAILER=gomail

# SMTP being used
GOMAIL_SMTP_HOST="smtp.gmail.com"
# port of the smtp
GOMAIL_SMTP_PORT="587"
GOMAIL_AUTH_EMAIL=
GOMAIL_AUTH_PASSWORD=

MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_PUBLIC_API_KEY=
MAILGUN_URL=

GOOGLE_APPLICATION_CREDENTIALS=".keys/semeru-3db01-firebase-adminsdk-8iwdt-1c179ed4f2.json"

EMAIL_ACTIVATION="true"
OTP_DURATION="3600"
OTP_METHOD="UUID" or "CODE"

NEO4J_ENDPOINT="neo4j://localhost:7687"
NEO4J_USER="neo4j"
NEO4J_PASSWORD=""
